*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: size 10px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 20%,
    rgba(70, 252, 144, 1) 100%
  );
}

#gameScreen {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(6, 100px);
  background-color: rgb(114, 114, 114);
  box-shadow: 0 0 30px black;
  border-radius: 30px;
  width: 700px;
  height: 600px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.cell {
  border-radius: 50%;
  background: rgb(192, 192, 192);
  margin: 5px;
  outline: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.available {
  background-color: white;
  pointer-events: auto;
}

.available:hover {
  background-color: rgb(0, 174, 255);
  cursor: pointer;
}

.red {
  background: rgb(255, 88, 88);
  background: radial-gradient(
    circle,
    rgba(255, 88, 88, 1) 0%,
    rgba(255, 21, 21, 1) 100%
  );
}

.yellow {
  background: rgb(255, 248, 88);
  background: radial-gradient(
    circle,
    rgba(255, 248, 88, 1) 0%,
    rgba(255, 202, 21, 1) 100%
  );
}

.occupied {
  pointer-events: none;
  cursor: not-allowed;
}

.smallScreen {
  width: 200px;
  height: 80px;
  background: red;
  position: relative;
  right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-family: Helvetica;
  color: white;
  background-color: rgb(114, 114, 114);
  box-shadow: 0 0 20px black;
}

span {
  font-weight: bold;
  text-shadow: 0.5px 0.5px 2px black;
}

.spawnAnimation {
  animation: spawn 0.5s ease-out;
}

.unrevealAnimation {
  animation: unreveal 0.5s ease-out;
}

@keyframes spawn {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes unreveal {
  from {
    background-color: rgb(192, 192, 192);
  }
  to {
    background-color: white;
  }
}
